.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.group {
  display: flex;
  gap: 1rem;
}

.field {
  min-width: 30rem;
  padding: 0.5rem;
}

.button {
  padding: 0.8rem 1.6rem;
  background-color: black;
  color: white;
  border: none;
}

.label {
  font-weight: 600;
}
