.button {
  background-color: black;
  display: block;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
}

.cancel {
  background-color: transparent;
  display: block;
  padding: 0.5rem 1.5rem;
  border: none;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
}
